body {
    background: #f6f6f6;
}

.pageTitle {
    width: 100%;
    text-align: center;
    padding: 5% 0px;
}

.pageTitle h1 {
    font-size: 250%;
}

.pageTitle h4 {
    color: #777;
}

.shade-color {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 800px;
    padding-bottom: 90px;
}

.Pink {
    padding-bottom: 5px;
}

.Grey {
    padding-bottom: 1px;
}

.Black {
    padding-bottom: 10px;
}

.shade-box {
    position: relative;
    height: 90px;
    width: 190px;
    margin: 0 auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.shades-root {
    padding: 0% 10% 5% 10%;
    width: 80%;
    display: grid;
}

.shade-name {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.shade-name h3 {
    font-size: 200%;
    padding: 80px 0 60px 0;
}

.shade-box-container {
    display: flex;
    flex-direction: column;
}

.shade-box-container p {
    text-align: center;
}

.color-name {
    /* background: pink; */
    padding: 10px 0;
}

.color-hex {
    /* background: gold; */
    padding: 0 0 30px 0;
}

@media screen and (max-width: 950px) {
    .shade-box {
        position: relative;
        height: 80px;
        width: 180px;
        margin: 0 auto;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
    .shade-color {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 800px;
        padding-bottom: 450px;
    }
    .Black,
    .Grey {
        padding-bottom: 120px;
    }
    .Magenta {
        padding-bottom: 200px;
    }
    .Pink {
        padding-bottom: 50px;
        ;
    }
}

@media screen and (max-width: 700px) {
    .shade-box {
        position: relative;
        height: 80px;
        width: 180px;
        margin: 0 auto;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
    .shade-color {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 800px;
        padding-bottom: 950px;
    }
    .Yellow {
        padding-bottom: 800px;
    }
    .Black {
        padding-bottom: 400px;
    }
    .Grey {
        padding-bottom: 200px;
    }
    .Magenta {
        padding-bottom: 400px;
    }
    .Pink {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .shade-box {
        position: relative;
        height: 80px;
        width: 180px;
        margin: 0 auto;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
    .shade-color {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 800px;
        margin-bottom: 2300px;
    }
    .Blue,
    .Cyan,
    .Green,
    .Brown,
    .Purple {
        margin-bottom: 2450px;
    }
    .Black {
        margin-bottom: 1550px;
    }
    .Grey {
        margin-bottom: 1200px;
    }
    .Magenta {
        margin-bottom: 1450px;
    }
    .Pink {
        margin-bottom: 50px;
    }
}