body {
    background: #f6f6f6;
}

.pageTitle {
    width: 100%;
    text-align: center;
    padding: 5% 0px;
}

.pageTitle h1 {
    font-size: 250%;
    padding-bottom: 30px;
}

.pageTitle h4 {
    color: #777;
}

.shade-color {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 800px;
    padding-bottom: 90px;
}

.shade-box {
    position: relative;
    height: 90px;
    width: 190px;
    margin: 0 auto
}

.shades-root {
    padding: 0% 10% 5% 10%;
    width: 80%;
    display: grid;
}

.shade-name {
    display: flex;
    justify-content: center;
}

.shade-name h3 {
    font-size: 200%;
    padding: 80px 0 60px 0;
}

.shade-box-container {
    display: flex;
    flex-direction: column;
}

.shade-box-container p {
    text-align: center;
}

.color-name {
    background: pink;
    padding: 10px 0;
}

.color-hex {
    background: gold;
    padding: 0 0 30px 0;
}