* {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    font-size: 100%;
    /* box-sizing: border-box; */
}

body {
    background: #f6f6f6;
}

.pageTitle {
    width: 100%;
    text-align: center;
    padding: 5% 0px;
}

.pageTitle h1 {
    font-size: 250%;
    padding-bottom: 30px;
}

.pageTitle h4 {
    color: #777;
}

.allbox {
    display: flex;
    height: 260px;
    min-width: 14%;
    flex: auto;
    align-items: center;
    padding: 0.5%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 768px) {
    .allbox p {
        display: none;
    }
}

.allbox p {
    margin: 20px;
    width: 80%;
}

.boxes {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 0% 10% 0% 10%;
    overflow: hidden;
}

p {
    border: none;
    background: inherit;
    text-align: center;
    font-size: 115%;
}

.pallete-controls {
    display: flex;
    width: 70%;
    padding: 0 15%;
    justify-content: center;
    flex-direction: column;
}

.gradient {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
    width: 100%;
    padding-bottom: 10%;
}

.two {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

@media screen and (min-width: 960px) {
    .one {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .gradient {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        padding: 5% 10% 5% 10%;
    }
    .two {
        margin: 0;
    }
}

.pc-1,
.pc-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 40px;
}

.number-input::selection {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}

.number-input,
.btn {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 30px;
    margin: 0 40px;
}

.btn {
    background: #eee;
    color: black;
    border: 1px solid #bbb;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-color,
#end-color {
    height: 30px;
}

.number-input,
.btn,
#start-color,
#end-color {
    outline: none
}

.background-box {
    background: maroon;
    height: 150px;
    flex: 1;
    margin: 0 20px;
    display: flex;
    position: relative;
}

.css-info {
    background: #161A42;
    height: 150px;
    flex: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column
}

#css-p {
    text-align: left;
    word-spacing: 2.5px;
    font-weight: 400;
    margin: 20px;
    width: 80%;
}

.background-box,
.css-info {
    border-radius: 2px;
}